@model List<ADTeam5.Models.AdjustmentRecord>

@{
    ViewData["Title"] = "_TempAdjustmentRecords";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.Count == 0)
            {
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-md-10 mt-5">

                        <i class="fa fa-user fa-5x mb-5"></i>

                        <h2>
                            No Record Found
                        </h2>

                        <p class="text-muted">
                            You do not have any adjustment record.
                        </p>

                        <a asp-action="Create" class="btn btn-lg btn-primary d-none d-md-inline-block mt-3">Create New</a>
                    </div>
                </div> <!-- / .row -->
            }
            else
            {
                <table id="TempAdjustmentRecord" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Voucher No
                            </th>
                            <th>
                                Issue Date
                            </th>
                            <th>
                                Approve Date
                            </th>
                            <th>
                                Clerk Name
                            </th>
                            <th>
                                Superviser Name
                            </th>
                            <th>
                                Manager Name
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="10px">
                                    <a asp-action="Details" asp-route-id="@item.VoucherNo"><u><strong>@Html.DisplayFor(modelItem => item.VoucherNo)</strong></u></a>
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.IssueDate)
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.ApproveDate)
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.Clerk.Name)
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.Manager.Name)
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.Superviser.Name)
                                </td>
                                <td width="10px">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                @if (item.Status == "Draft")
                                {

                                    @*<td>
                                        <form asp-action="AdjustmentRecordSubmit" asp-route-id="@item.VoucherNo" method="post" data-ajax="true" data-ajax-update="#TempAdjustmentRecords" role="form" asp-controller="AdjustmentRecords">
                                            <button type="submit" class="btn btn-primary" style="background-color: #00B894;width:68px;height:33px;border:2px;">
                                                <font size="2">Submit</font>
                                            </button>
                                        </form>

                                    </td>
                                    <td width="10px">

                                    </td>*@
                                    <td>
                                        <form asp-action="AdjustmentRecordDelete" asp-route-id="@item.VoucherNo" method="post" data-ajax="true" data-ajax-update="#TempAdjustmentRecords" role="form" asp-controller="AdjustmentRecords">
                                            <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block" style="background-color: #dd4b39; width:68px;height:33px;border:2px; ">
                                                <font size="2">Delete</font>
                                            </button>
                                        </form>
                                    </td>
                                }
                                else
                                {
@*<<<<<<< HEAD
                                    <td width="10px">
                                        <button type="submit" class="btn btn-primary" style="background-color:#99CCCC;width:68px;height:33px;border:2px;" disabled><font size="2">Submit</font></button>
                                    </td>
                                    <td width="10px">
                                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block" style="width:68px;height:33px;border:2px;" disabled><font size="2">Delete</font></button>
=======*@
                                    @*<td><button type="submit" class="btn btn-primary" disabled>Submit</button></td>*@
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block" disabled>Delete</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

