@model ADTeam5.Models.AdjustmentRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdjustmentRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperviserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperviserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clerk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clerk.DepartmentCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoucherNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
