@model IEnumerable<ADTeam5.Models.AdjustmentRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clerk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperviserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproveDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Clerk.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superviser.Name)
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.VoucherNo">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

