@model IEnumerable<ADTeam5.Models.DisbursementList>

@{
    ViewData["Title"] = "Index";
}

@*<h1>View Expenditure</h1>*@

@if (TempData["NoDetails"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["NoDetails"]
    </div>
}
@if (TempData["EndDateError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["EndDateError"]
    </div>
}
@if (TempData["StartDateError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["StartDateError"]
    </div>
}
@if (TempData["StartAndEndDateError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["StartAndEndDateError"]
    </div>
}
@if (TempData["FilterError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["FilterError"]
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">View Expenditure</h3>
            </div>
            <form asp-action="Index" method="post">
                <div class="form-group">
                    Select start date:
                    <input type="date" name="startdate" id="start" value="=" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Select end date:
                    <input type="date" name="enddate" id="end" value=" = " />

                    <input type="submit" value="Search" id="searchbtn" />
                </div>
                <br />

                @if (ViewData["Show"] != null)
                {
                    <p><b>Financial Year: @ViewData["startFinancialYear"] to @ViewData["endFinancialYear"]</b></p>
                }

                @if (ViewData["StartDate"] != null && ViewData["EndDate"] != null)
                {
                    <p><b>Search results from @ViewData["StartDate"] to @ViewData["EndDate"]</b></p>
                }



            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompleteDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dlid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompleteDate)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-Dlid="@item.Dlid">
                                    @Html.DisplayFor(modelItem => item.Dlid)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <form asp-action="Index" method="post">
                <div class="form-group">
                    <h6>Total Expenditure: @ViewData["Sum"] </h6>
                </div>

            </form>


            <script>
                $(document).ready(function () {
                    let now = new Date();

                    let day = ("0" + now.getDate()).slice(-2);
                    let month = ("0" + (now.getMonth() + 1)).slice(-2);

                    let today = (day) + "-" + (month) + "-" + now.getFullYear();

                    $('#start').val(today);
                    $('#end').val(today);
                    $('#assignbtn').click(function () {

                        testClicked();
                    });
                });
                function testClicked() {
                    $('.getStartDate').html($('#start').val());
                    $('.getEndDate').html($('#end').val());
                }

            </script>
