@model List<ADTeam5.ViewModels.TempVoucherDetails>

@{
    ViewData["Title"] = "_TempVoucherDetailsList";
}


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.Count == 0)
            {
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-md-10 mt-5">

                        <i class="fa fa-user fa-5x mb-5"></i>

                        <h2>
                            No Record Found
                        </h2>

                        <p class="text-muted">
                            You do not have any items to be added to voucher.
                        </p>

                        <a asp-action="Create" class="btn btn-lg btn-primary d-none d-md-inline-block mt-3">Create New</a>
                    </div>
                </div> <!-- / .row -->
            }
            else
            {
                <table id="TempVoucherDetails" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Item Number
                            </th>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Remark
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a>
                                </td>
                                <td>
                                    <form asp-action="VoucherItemDelete" asp-route-id="@item.ItemNumber" method="post" data-ajax="true" data-ajax-update="#TempVoucherDetailsList" role="form" asp-controller="IssueVoucher">
                                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <input name="itemNumber" type="checkbox" value="item.ItemNumber">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <input type="submit" value="Add to Voucher" class="btn btn-primary" />
            }
        </div>
    </div>
</div>

