@model List<ADTeam5.Models.PurchaseOrderRecord>

    @{
        ViewData["Title"] = "_TempPurchaseOrderRecords";
    }


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (Model.Count == 0)
                {
                    <div class="row justify-content-center text-center">
                        <div class="col-12 col-md-10 mt-5">

                            <i class="fa fa-user fa-5x mb-5"></i>

                            <h2>
                                No Record Found
                            </h2>

                            <p class="text-muted">
                                You do not have any adjustment record.
                            </p>

                            <a asp-action="Create" class="btn btn-lg btn-primary d-none d-md-inline-block mt-3">Create New</a>
                        </div>
                    </div> <!-- / .row -->
                }
                else
                {
                    <table id="TempAdjustmentRecord" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    PO No
                                </th>
                                <th>
                                    Supplier
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th>
                                    Estimated Deliver Date
                                </th>
                                <th>
                                    Complete Date
                                </th>
                                <th>
                                    Clerk Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Poid">@Html.DisplayFor(modelItem => item.Poid)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpectedCompleteDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompleteDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StoreClerk.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                @if (item.Status == "Draft")
                                {
                                    @*<td>
                                        <form asp-action="PurchaseOrderRecordSubmit" asp-route-id="@item.Poid" method="post" data-ajax="true" data-ajax-update="#TempPurchaseOrderRecords" role="form" asp-controller="PurchaseOrderRecords">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                        </form>
                                    </td>*@
                                    <td>
                                        <form asp-action="PurchaseOrderRecordDelete" asp-route-id="@item.Poid" method="post" data-ajax="true" data-ajax-update="#TempPurchaseOrderRecords" role="form" asp-controller="PurchaseOrderRecords">
                                            <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    @*<td><button type="submit" class="btn btn-primary" disabled>Submit</button></td>*@
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block" disabled>Delete</button>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>

                }
            </div>
        </div>
    </div>

