@model IEnumerable<ADTeam5.ViewModels.ViewRequestDetails>

@{
    ViewData["Title"] = "Details";
}


@*<h2>Details</h2>*@
<div class="box">
    <div class="box-header with-border">
        <div align="center" vertical-align="middle">
            <div style="width: 350px;padding: 20px;margin: 20px;border-style:outset; border-width:1px; ">
                <div align="center" vertical-align="middle">
                    <h3 class="box-title">
                        <strong><font size="5">Request Form Details Profile</font></strong>
                    </h3>
                </div>
                <div class="box-tools">
                </div>
            </div>
        </div>
    </div>
    <br />

@*<<<<<<< HEAD
    <p style="margin-left:98px">
        <b>Requisition Form No: @ViewData["RRID"]</b>      
        <b style="color:#dc6460;margin-left:390px">
            Status:
            @ViewData["Status"]
        </b>
    </p>    
    <hr />
=======*@
    <p><b>Requester Name: </b>@ViewData["Requester"]</p>
    <p><b>Request Date:</b> @ViewData["RequestDate"] </p>
    <b>Status: </b>@ViewData["Status"] - @if (ViewData["RejectStatus"] != null) {@ViewData["RejectStatus"]}
      
    <br/>
     <br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="box-body no-padding">
        <div class="table-responsive table-full-width">
            <table class="table no-margin table-hover table-striped table-responsive table-borderless" style="width: 100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td width="40%">
                                @Html.DisplayFor(modelItem => item.itemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <hr />
    <div>
        <a asp-action="Index">
            <button type="button" class="btn btn-primary" style="width:120px;height:32px;margin-left:1px; background-color:transparent;border:1px #B3B6B7 solid;margin-left:98px">
                <i class='fas fa-arrow-left' style='font-size:14px;border:1px;color:#B3B6B7'></i>&nbsp;&nbsp;<font style='font-size:14px;color:#B3B6B7'>Back To List</font>
            </button>
        </a>
        <br />
        <br />
    </div>

