@model IEnumerable<ADTeam5.ViewModels.DisbursementListDetails>

@{
    ViewData["Title"] = "Index";
}

@*<style>
        .page-item.active .page-link {
            background-color: lightsteelblue;
        }
    </style>*@

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<style>
    .page-item.active .page-link {
        background-color: #8e9eab;
    }
</style>
<style>
    .page-item.active .page-link {
        border-color: #000000;
    }
</style>

<h1>Stationery Retrieval List</h1>

<input type="submit" value="Generate" class="btn btn-primary" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="StationeryRetrievalList" class="table table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                        <th>
                            Action
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                            <a asp-action="Voucher" asp-route-id="@item.ItemNumber">Add to Voucher</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#StationeryRetrivalList').DataTable();
</script>

<script>
    var startDate;
    var endDate;

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'middle'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
        });
    });

    startDate = $('input[name = "daterange"]').datepicker(getDate);

</script>
