@model IEnumerable<ADTeam5.Models.DisbursementList>

@{
    ViewData["Title"] = "Index";
}

@*<p>
        @ViewData["Department"]
    </p>
    <p>
        @ViewData["role"]
    </p>*@


<h1>Disbursement List</h1>
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <table id="DisbursementList" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Collection Point
                            </th>
                            <th>
                                Collection Time
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Representative Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EstDeliverDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompleteDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CollectionPointNavigation.CollectionPointName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.CollectionPointNavigation.CollectionTime).ToString("dd/MMM/yyyy HH:mm tt");*@
                                    @item.CollectionPointNavigation.CollectionTime.ToShortTimeString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentCodeNavigation.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RepNavigation.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstDeliverDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompleteDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Dlid">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Dlid">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>