@model IEnumerable<ADTeam5.ViewModels.OutstandingOrderDetails>

@{
    ViewData["Title"] = "Details";
}

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>


@*<h2>Details</h2>*@
<div class="box">
    <div class="box-header with-border">
        <div align="center" vertical-align="middle">
            <div style="width: 350px;padding: 20px;margin: 20px;border-style:outset; border-width:1px; ">
                <div align="center" vertical-align="middle">
                    <h3 class="box-title">
                        <strong><font size="5">Request Details Profile</font></strong>
                    </h3>
                </div>
                <div class="box-tools">
                </div>
            </div>
        </div>
    </div>
    <br />

    @if (TempData["NoText"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aira-label="close">
                <span aria-hidden="true">&times</span>
            </button>
            @TempData["NoText"]
        </div>
    }
        <p style="margin-left:98px">
            <b>Requisition Form No: @ViewData["RRID"]</b>
            <b style="margin-left:390px">Employee Name: @ViewData["Name"]</b>
        </p>
    
    

    <hr />

    <div class="box-body no-padding">
        <div class="table-responsive table-full-width">
            <table class="table no-margin table-hover table-striped table-responsive table-borderless" style="width: 100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td width="40%">
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
   
    <br />
    <hr />
    <br />
    <div class="form-horizontal">
        <a asp-action="Index">
            <button type="button" class="btn btn-primary" style="width:120px;height:32px;margin-left:1px; background-color:transparent;border:1px #B3B6B7 solid;margin-left:68px">
                <i class='fas fa-arrow-left' style='font-size:14px;border:1px;color:#B3B6B7'></i>&nbsp;&nbsp;<font style='font-size:14px;color:#B3B6B7'>Back To List</font>
            </button>
        </a>
        @*<div style="margin-left:320px">*@
        <input type="submit" value="Reject" class="btn btn-primary rejectReason" style="background-color:#dc6460;width:100px;height:32px;border:2px;margin-left:160px" />
        <form asp-controller="OutstandingOrder" asp-action="ApproveOrder" method="post" style="display: inline;">
            <input type="submit" value="Approve" class="btn btn-primary" style="background-color:#00B894;width:100px;height:32px;border:2px;margin-left:100px" />
        </form>
        <br />
        <br />
        <br />
        @*</div>*@
    </div>
</div>


    <!-- Modal for create voucher item-->
    <div class="modal fade in" id="CreateNewVoucherItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <br />
                @*<div class="modal-header">*@

                <div class="modal-body">

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <div align="center" vertical-align="middle">
                                <div style="width: 540px;padding: 10px;border-style:outset; border-width:1px; ">
                                    <div align="center" vertical-align="middle">
                                        <h3 class="box-title">
                                            <strong><font size="5">Are you sure you want to reject this request?</font></strong>
                                        </h3>
                                    </div>
                                    <div class="box-tools">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form asp-controller="OutstandingOrder" asp-action="RejectOrder" method="post">
                            <div class="form-group">
                                <br />
                                <label for="rejectReason">&nbsp;&nbsp;&nbsp; Reason for Rejection:</label>
                                <br />
                                
                                @if (TempData["NoText"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aira-label="close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                        @TempData["NoText"]
                                    </div>
                                }

                                <input type="text" id="rejectReason" name="rejectReason" class="form-control" value="" style="margin-left:10px;width:550px" />
                            </div>
                            <br />
                            <div align="center">
                                <button class="btn" data-dismiss="modal" aria-hidden="true" style="width:80px;height:30px;border:2px; background-color:#EEEEEE">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary" style="background-color:#00B894;width:80px;height:30px;border:2px;">Submit</button>
                            </div>
                            <br />
                        </form>
                        
                    </div>
                </div>
                </div>
        </div>
    </div>



    <script>
        $(".rejectReason").click(function () {
            var rejectReason = "";
            var createNewVoucherItemModalID = 1;

            var $modal = $('#CreateNewVoucherItemModal');
            $modal.find('#rejectReason').val(rejectReason);
            var empty = true;
            $modal.find('#CreateNewVoucherItemModalID').val(createNewVoucherItemModalID);

            $modal.modal('show');
        });
    </script>
