@model IEnumerable<ADTeam5.Models.Catalogue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Catalogues" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOfMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier2Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier3Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier1Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier2Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier3Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier1Navigation.SupplierCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier2Navigation.SupplierCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier3Navigation.SupplierCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier1Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier2Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier3Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
