@model List<ADTeam5.ViewModels.TempNewRequest>

@{
    ViewData["Title"] = "_TempNewRequest";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


@if (Model.Count == 0)
{
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10 mt-5">
            <i class='fas fa-file-alt' style='font-size:116px;color:#00B894'></i>
            <br />
            <br />
            <button type="button" class="btn btn-lg btn-primary d-none d-md-inline-block mt-3 createNewRequestItem" style="width:180px;height:40px;border:2px; background-color:#00B894">
                Create New Order
            </button>
        </div>
    </div>
}
else
{
    <!-- TABLE: Issue Request -->
    <div class="row">
        <div class="col-md-10">
            <div class="box" style=" width:100%">
                <div class="box-header with-border">
                    <h3 class="box-title">Items to be added to request</h3>
                    <br />

                    @*<div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div>*@
                </div>


                <div class="box-body no-padding">
                    <div class="table-responsive table-full-width">
                        <table id="TempRequestDetails" class="table no-margin table-hover table-striped table-responsive table-borderless" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th width="10%">                                       
                                    </th>
                                    <th width="27%">
                                        Item Name
                                    </th>
                                    <th width="27%">
                                        Quantity
                                    </th>

                                    <th width="5%"></th>

                                    @*<th>
                                        Edit
                                    </th>
                                    <th>
                                        Delete
                                    </th>*@
                                    <th></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="isChecked" name="isChecked" checked="checked" value="@item.ItemNumber" style="display:none" />
                                        </td>
                                        <td class="ItemName">
                                            @Html.DisplayFor(modelItem => item.ItemName)
                                        </td>
                                        <td class="Quantity">
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            <button class="editRequestItem" style="background-color:transparent; border:transparent">
                                                <i class="fa fa-edit" style="color:#66B3B3"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <form asp-action="RequestItemDelete" asp-route-itemNumber="@item.ItemNumber" method="post" data-ajax="true" data-ajax-update="#TempNewRequest" role="form" asp-controller="NewRequest" onclick="return confirm('Are you sure you want to delete this item?');">
                                                <button style="background-color:transparent; border:transparent">
                                                    <i class="fa fa-trash-alt" style="color:#dc6460"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <button type="button" class="btn btn-primary createNewRequestItem" style="width:120px;height:32px;border:2px;margin-left:106px; background-color:#00B894">
                            <i class='fas fa-plus-circle' style='font-size:14px'></i>&nbsp;&nbsp;Add Item
                        </button>
                        <hr />
                    </div>
                </div>
                <br />
                <br />
                @*<div style="margin-left:320px">
                        <button type="button" asp-action="Submit" class="btn btn-primary submit" style="background-color: #00B894;width:120px;height:32px;border:2px;">
                            Submit
                        </button>
                    </div>*@
                <div style="margin-left:400px">
                    <input type="submit" value="Submit" class="btn btn-primary submit" style="background-color: #00B894;width:120px;height:32px;border:2px;" />
                </div>
                <br />
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.box-footer -->


}

@*</div>*@

@*<div class="box-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
    </div>*@



<!-- /.col -->
<!-- Modal for create Request item-->
<div class="modal fade in" id="CreateNewRequestItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <br />
            @*<div class="modal-header">*@
            <div align="center" vertical-align="middle">
                <div style="width: 400px;padding: 15px;margin: 15px;border-style:outset; border-width:1px; ">
                    <div align="center" vertical-align="middle">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <strong><font size="5">Add To Request</font></strong>
                        </h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" asp-action="AddItem">
                    <div class="form-group">
                        <input type="hidden" id="CreateNewRequestItemModalID" name="createNewRequestItemModalName" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="Category">Category</label>
                        @if (ViewBag.ListofCategory != null)
                        {
                            <select for="Category" required="required" class="form-control" id="Category" asp-items="@(new SelectList(ViewBag.ListofCategory, "Category", "Category"))"></select>
                        }
                    </div>
                    <div class="form-group">
                        <label for="ItemNumber">ItemName</label>
                        <select for="ItemNumber" class="form-control" id="ItemNumber" required="required"name="itemNumber" asp-items="@(new SelectList(" "))"></select>
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="number" min="1" step="1" max ="1000" id="Quantity" name="quantity"   required="required" class="form-control" value="" />
                    </div>
                    <div align="center">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" style="width:80px;height:30px;border:2px; background-color:#EEEEEE"><font size="3" color="black">Close</font></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" style="width:125px;height:30px;border:2px; background-color:#00B894"><font size="3" color="white">Add To Request</font></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Modal for edit quantity-->
<div class="modal fade" id="RequestItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <br />
            @*<div class="modal-header">*@
            <div align="center" vertical-align="middle">
                <div style="width: 400px;padding: 15px;margin: 15px;border-style:outset; border-width:1px; @*background-color:#3c8dbc*@">
                    <div align="center" vertical-align="middle">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <strong><font size="5">Update Request Item</font></strong>
                        </h5>
                    </div>
                </div>
            </div>
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
            @*</div>*@



            <div class="modal-body">
                <form method="POST" asp-action="EditItem">
                    <div class="form-group">
                        <input type="hidden" id="RequestItemModalID" name="RequestItemModalName" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="ItemName">Item Name</label>
                        <input type="hidden" id="ItemNameValue" name="itemName" class="form-control" value="" />
                        <input type="text" id="ItemNameDisplay" name="" class="form-control" value="" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="number" min="1" step="1" max="1000" id="Quantity" name="quantity" class="form-control" value="" />
                    </div>

                    <div align="center">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" style="width:80px;height:30px;border:2px; background-color:#EEEEEE"><font size="3" color="black">Close</font></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" style="width:120px;height:30px;border:2px; background-color:#00B894"><font size="3" color="white">Save Changes</font></button>
                    </div>
                </form>
            </div>
        </div>
     </div>
</div>



            <script>
                $(".createNewRequestItem").click(function () {
                    //var $row = $(this).closest("tr");    // Find the row
                    var itemNumber = ""; // Find the text
                    var quantity = "";
                    var createNewRequestItemModalID = 1;

                    var $modal = $('#CreateNewRequestItemModal');
                    $modal.find('#ItemNumber').val(itemNumber);
                    $modal.find('#Quantity').val(quantity);
                    $modal.find('#CreateNewRequestItemModalID').val(createNewRequestItemModalID);

                    $modal.modal('show');
                });
            </script>

            <script>
                $(document).ready(function () {
                    $("#Category").change(function () {
                        $.get("/NewRequest/GetItemNameList", { category: $("#Category").val() }, function (data) {
                            $("#ItemNumber").empty();
                            $("#ItemNumber").append("<option value='" + "" + "' >" + "" + "</option>");
                            $.each(data, function (index, row) {
                                $("#ItemNumber").append("<option value='" + row.itemNumber + "'>" + row.itemName + "</option>")
                            });
                        });
                    })
                });
            </script>

            <!--select all checkbox-->
            <script>
                $('#select-all').click(function (event) {
                    if (this.checked) {
                        // Iterate each checkbox
                        $(':checkbox').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $(':checkbox').each(function () {
                            this.checked = false;
                        });
                    }
                });
            </script>

            <script>
                $(".editRequestItem").click(function () {
                    var $row = $(this).closest("tr");    // Find the row
                    var itemName = $row.find("td.ItemName").text().trim(); // Find the text
                    var quantity = $row.find("td.Quantity").text().trim();
                    var requestItemModalID = 1;

                    var $modal = $('#RequestItemModal');
                    $modal.find('#ItemNameValue').val(itemName);
                    $modal.find('#ItemNameDisplay').val(itemName);
                    $modal.find('#Quantity').val(quantity);
                    $modal.find('#RequestItemModalID').val(requestItemModalID);

                    $modal.modal('show');
                });
            </script>

            @*<script>
            $(document).ready(function () {
                $(".submit").click(function () {
                    document.location = '@Url.Action("Submit", "NewRequest")';
                });
            });
        </script>*@

            <script>
    $(document).ready(function () {
        $(".submit").click(function () {
            var itemToAdd = $("input:checkbox:checked", "#TempRequestDetails").map(function () {
                return $(this).val();
            }).get();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "NewRequest")',
                dataType: "html",
                data: { itemSubmitted: itemToAdd },
                success:
                    function (data) {
                       $('#result').html(data);
                        data = JSON.parse(data);
                        window.location.href = data.redirecturl;
                    }
            })
        });
    });
            </script>

            @*<script>
            $(document).ready(function () {
                $(".submit2").click(function () {
                    //var itemToAdd = $("#TempRequestDetails").map(function () {
                    //    return $(this).val();
                    //    //return $(this).itemName;
                    //}).get();
                    var itemToAdd = [];
                    $.each($("#TempRequestDetails"), function (i, item) {
                        var ItemName = $(item).find("td.ItemName").text().trim();
                        itemToAdd.push(ItemName);
                    });


                    alert(itemToAdd.join(','));
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Index", "NewRequest")',
                        dataType: "html",
                        //data: { itemSubmitted: itemToAdd },
                        data: JSON.stringify(itemToAdd),
                        success:
                            function (data) {
                                //$('#result').html(data);
                                alert("submitted");
                                window.location.reload();
                            }
                    })
                });
            });
        </script>*@

