@model ADTeam5.Controllers.Department.TemporaryRecordDetails

@{
    ViewData["Title"] = "NewRequest";
}

<h1>New Request</h1>

<div class="row">
    <div class="col-md-4">
        @{
            <form asp-controller="NewRequest" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <label>Item Name</label>
                    <select asp-for="ItemNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListofCatalogueName, "ItemNumber", "ItemName"))"></select>
                </div>

                <div class="form-group">
                    <label> Quantity</label>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @min = 1, @max = 999, @class = "form-control left-border-none", @id = "Quantity" } })
                </div>

                <div class="form-group">
                    <input type="submit" value="Add Item" class="btn btn-primary" />
                </div>

            </form>

        }
    </div>
</div>


@if (ViewBag.ItemNameList != null && ViewBag.QuantityList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <ul>Item Name</ul>
                </th>
                <th>
                    <ul>Quantity</ul>
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
      
                <tr>

                    <td>
                        @foreach (var item in ViewBag.ItemNameList)
                        {
                            <ul>@item</ul>
                        }
                    </td>

                    <td>
                        @foreach (var item in ViewBag.QuantityList)
                        {
                            <ul>@item</ul>

                        }
                    </td>
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@ViewBag.ItemNameList">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@ViewBag.ItemNameList">Delete</a>
                    </td>*@
                </tr>
            
            </tbody>
    </table>
}

@if (ViewData["SubmitButton"] != null)
{
    <form asp-action="Submit" method="post">
        <div class="form-group">
            <input type="submit" value="Submit Request" class="btn btn-info" />
        </div>
    </form>

}
