@model IEnumerable<ADTeam5.ViewModels.StationeryRetrievalList>

@{
    ViewData["Title"] = "Index";
}
<style>
    .page-item.active .page-link {
        background-color: #8e9eab;
    }
</style>
<style>
    .page-item.active .page-link {
        border-color:#000000;
    }
</style>

<h1>Stationery Retrieval List</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="StationeryRetrievalList" class="table table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a> |
                                <a asp-action="Voucher" asp-route-id="@item.ItemNumber">Add to Voucher</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#StationeryRetrivalList').DataTable();
</script>
