@model IEnumerable<ADTeam5.ViewModels.StationeryRetrievalList>

@{
    ViewData["Title"] = "Index";
}

@*<style>
        .page-item.active .page-link {
            background-color: lightsteelblue;
        }
    </style>*@


<style>
    .page-item.active .page-link {
        background-color: #8e9eab;
    }
</style>
<style>
    .page-item.active .page-link {
        border-color: #000000;
    }
</style>

<h1>Stationery Retrieval List</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="StationeryRetrievalList" class="table table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a> |
                                <a asp-action="Voucher" asp-route-id="@item.ItemNumber">Add to Voucher</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @*<form>
                        
                        <div class="form-group">
                            <label asp-for="ItemNumber" class="control-label"></label>
                            <input asp-for="ItemNumber" class="form-control" asp-items="ViewBag.ItemNumber">
                            <span asp-validation-for="ItemNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QuantityRetrieved" class="control-label"></label>
                            <input asp-for="QuantityRetrieved" class="form-control" />
                            <span asp-validation-for="QuantityRetrieved" class="text-danger"></span>
                        </div>
                    </form>
                @Html.TextBoxFor(m=>m._____)*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("Index", "StationeryRetrievalList", FormMethod.Post))
                {
                    <table id="StationeryRetrievalList" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ItemNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ItemName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuantityRetrieved)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="nr">
                                        @Html.DisplayFor(modelItem => item.ItemNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantityRetrieved)
                                    </td>
                                    <td>
                                        <a asp-action="Voucher" asp-route-id="@item.ItemNumber">Add to Voucher</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" id="Edit" data-toggle="modal" data-target="#exampleModalCenter">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="submit" value="Finish" class="btn btn-primary" />
                }
            </div>*@
</div>
    </div>
</div>



<script>
    $('#StationeryRetrievalList').SetEditable({
        columnsEd: "3",
        onEdit: function () { },
        onDelete: function () { },
        onBeforeDelete: function () { },
        onAdd: function () { }
    });
</script>

<script>
    $("#Edit").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr").text(); // Find the text
        // Let's test it out
        alert($text);
    });
</script>

<script>
    //$('#StationeryRetrivalList').DataTable();
</script>

<script>

    // SideNav Initialization
    $(".button-collapse").sideNav();

</script>
