@model IEnumerable<ADTeam5.ViewModels.StationeryRetrievalList>
@{
    ViewData["Title"] = "Index";
}


<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*<style>

    .page-item.active .page-link {
        background-color: #8e9eab;
    }

    .page-item.active .page-link {
        border-color: #000000;
    }
</style>*@



<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                @*<div align="center" vertical-align="middle">
                    <div style="width: 300px;padding: 20px;margin: 20px;border-style:outset; border-width:1px; ">
                        <div align="center" vertical-align="middle">
                            <h2 class="box-title">
                                <strong><font size="5">Stationery Retrieval List</font></strong>
                            </h2>
                        </div>

                        <div class="box-tools">
                        </div>
                    </div>
                </div>*@

                @*<div style="border-style:outset; border-width:1px;">文字内容</div>*@


                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <div class="content table-responsive table-full-width">
                        <table id="StationeryRetrievalList" class="table table-hover table-striped table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.QuantityRetrieved)
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="ItemNumber">
                                            @Html.DisplayFor(modelItem => item.ItemNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td class="QuantityRetrieved">
                                            @Html.DisplayFor(modelItem => item.QuantityRetrieved)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary editQuantityRetrieved" style="width:70px;height:30px;border:2px; background-color:#66B3B3">
                                               Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary addToVoucher" style="width:120px;height:30px;border:2px; background-color:#66B38D">
                                                Add to Voucher
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>
    </div>
</div>


<!-- Modal for edit quantity retrieved-->
<div class="modal fade" id="QuantityRetrievedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <br />
            @*<div class="modal-header">*@


            <div align="center" vertical-align="middle">
                <div style="width: 400px;padding: 15px;margin: 15px;border-style:outset; border-width:1px; ">
                    <div align="center" vertical-align="middle">
                        <h3 class="modal-title" id="exampleModalLongTitle">
                            <strong><font size="5">Update Quantity Retrieved</font></strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <input type="hidden" id="QuantityRetrievedModalID" name="quantityRetrievedModalName" class="form-control" value="1" />
                    </div>
                    <div class="form-group">
                        <label for="ItemNumber">Item Number</label>
                        <input type="hidden" id="ItemNumberValue" name="itemNumber" class="form-control" value="" />
                        <input type="text" id="ItemNumberDisplay" name="" class="form-control" value="" disabled />
                    </div>
                    <div class="form-group">
                        <label for="QuantityRetrieved">Quantity Retrieved</label>
                        <input type="text" id="QuantityRetrieved" name="quantityRetrieved" class="form-control" value="" />
                    </div>
                    <div align="center">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" style="width:80px;height:30px;border:2px; background-color:#EEEEEE"><font size="3" color="black">Close</font></button>
                        <button type="submit" class="btn btn-primary" style="width:120px;height:30px;border:2px; background-color:#3c8dbc"><font size="3" color="white">Save Changes</font></button>
                    </div>
                </form>
            </div>
            @*</div>*@
            @*</div>*@
        </div>
    </div>
</div>

<!-- Modal for Add to Voucher-->
<div class="modal fade" id="AddToVoucherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <br/>
            <div align="center" vertical-align="middle">
                <div style="width: 400px;padding: 15px;margin: 15px;border-style:outset; border-width:1px; @*background-color:#3c8dbc*@">
                    <div align="center" vertical-align="middle">
                        @*<div class="modal-header">*@
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <strong><font size="5">Add To Voucher</font></strong>
                        </h5>
                    </div>
                </div>
            </div>
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>*@


            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <input type="hidden" id="AddToVoucherModalID" name="addToVoucherModalName" class="form-control" value="1" />
                    </div>
                    <div class="form-group">
                        <label for="ItemNumber">ItemNumber</label>
                        <input type="hidden" id="ItemNumberValue" name="itemNumber" class="form-control" value="" />
                        <input type="text" id="ItemNumberDisplay" name="" class="form-control" value="" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="text" id="QuantityForVoucher" name="quantityForVoucher" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Remark">Remark</label>
                        <input type="text" id="Remark" name="remark" class="form-control" value="" />
                    </div>

                    <div align="center">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" style="width:80px;height:30px;border:2px; background-color:#EEEEEE"><font size="3" color="black">Close</font></button>
                        <button type="submit" class="btn btn-primary" style="width:120px;height:30px;border:2px; background-color:#3c8dbc"><font size="3" color="white">Save Changes</font></button>
                    </div>
                    @*<button class="btn" data-dismiss="modal" aria-hidden="true"><font size="5" color="white">Close</font></button>
        <button type="submit" class="btn btn-primary">Save changes</button>*@
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".editQuantityRetrieved").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var itemNumber = $row.find("td.ItemNumber").text().trim(); // Find the text
        var quantityRetrieved = $row.find("td.QuantityRetrieved").text().trim();
        var quantityRetrievedModalID = 1;


        var $modal = $('#QuantityRetrievedModal');
        $modal.find('#ItemNumberValue').val(itemNumber);
        $modal.find('#ItemNumberDisplay').val(itemNumber);
        $modal.find('#QuantityRetrieved').val(quantityRetrieved);
        $modal.find('#QuantityRetrievedModalID').val(quantityRetrievedModalID);

        $modal.modal('show');
    });
</script>

<script>
    $(".addToVoucher").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var itemNumber = $row.find("td.ItemNumber").text().trim(); // Find the text
        var quantityForVoucher = 0;
        var remark = "";
        var addToVoucherModalID = 1;

        var $modal = $('#AddToVoucherModal');
        $modal.find('#ItemNumberValue').val(itemNumber);
        $modal.find('#ItemNumberDisplay').val(itemNumber);
        $modal.find('#QuantityForVoucher').val(quantityForVoucher);
        $modal.find('#Remark').val(remark);
        $modal.find('#AddToVoucherModalID').val(addToVoucherModalID);

        $modal.modal('show');
    });
</script>


<script>
                                            //$('#StationeryRetrivalList').DataTable();
</script>

