<!DOCTYPE html>
@using ADTeam5.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ADTeam5User> SignInManager
@inject UserManager<ADTeam5User> UserManager
@inject SSISTeam5Context context


@{ if (SignInManager.IsSignedIn(User))
    {
        GeneralLogic userCheck;
        userCheck = new GeneralLogic(context);
        ADTeam5User user = await UserManager.GetUserAsync(User);
        List<string> identity = userCheck.checkUserIdentityAsync(user);
        ViewData["UserRole"] = identity[1];
    }
    else
    { ViewData["UserRole"] = "Not signed"; }


}




<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SSIS | @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment include="Development">

        @*<!-- Site CSS -->
            <link rel="stylesheet" href="~/css/site.css" />
            <!-- DataTable CSS -->
            <link rel="stylesheet" href="~/lib/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" />*@

        <link href="~/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Font Awesome -->
        <link href="~/lib/css/all.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link href="~/plugins/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <!-- DataTables -->
        <link href="~/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

        @*<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />*@
        <!-- Theme style -->
        <link href="~/lib/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/lib/css/skins/skin-black.css" rel="stylesheet" />

        <!-- Morris chart -->
        <link rel="stylesheet" href="bower_components/morris.js/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor-->
        <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

        <!-- DataTable JavaScript-->
        @*<script src="~/lib/DataTables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
            <script src="~/lib/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
            <script src="~/lib/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>*@


    </environment>

    <environment exclude="Development">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/plugins/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="display" asp-fallback-test-value="absolute" />

        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              asp-fallback-href="~/plugins/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block " />
        <link href="~/lib/css/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/lib/css/skins/skin-blue.min.css" rel="stylesheet" />
    </environment>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
        @*<<<<<<< HEAD
            @*<div class="sidebar" data-image="~/img/bg1.jpg">*@
        <!-- Main Header -->
        @*<header class="main-header">
            <div class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <a href="/"><b>SSIS</b></a>
                    &nbsp;
                    <a href="#" data-toggle="push-menu" role="button"><i class="fas fa-angle-double-left"></i></a>
                </span>
                <!-- sidebar toggle button for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><a href="#" data-toggle="push-menu" role="button"><i class="fas fa-angle-double-right"></i></a></span>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @*<li>
                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> <i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li>*@
        @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i>Logout</button>
                            </form>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i>Login</a>
                            </li>
                        }

                    </ul>

                </div>
            </header>*@
        @*</div>*@


        <!-- Main Header -->
        <header class="main-header">
            <div class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <a href="/"><b>SSIS</b></a>
                    &nbsp;
                    @*<button type="submit" class="nav-link btn btn-link" style="background-color: #99CCCC;"><font size="5"><strong>SSIS</strong></font></button>*@

                    <a href="#" data-toggle="push-menu" role="button"><i class="fas fa-angle-double-left"></i></a>
                </span>
                <!-- sidebar toggle button for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><a href="#" data-toggle="push-menu" role="button"><i class="fas fa-angle-double-right"></i></a></span>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-gray"><i class="fas fa-sign-out-alt"></i><font size="4.5">&nbsp;Logout</font></button>
                        </form>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i>Login</a>
                        </li>
                    }
                </ul>
            </div>
        </header>
    </div>

    <!-- extra dropdown/link codes for reference.can delete if you want-->
    @*<li><a href="#">Link</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>*@


    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">

                @switch (ViewData["UserRole"].ToString())
                {
                    case "Clerk":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-shopping-basket"></i> <span>Order Stationery</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="NewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>New Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="ViewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>View Past Orders</a>
                                </li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-minus"></i> <span>Outgoing Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="StationeryRetrievalList" asp-action="Index"><i class="fa fa-list-ul"></i>Stationery Retrieval List</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="DisbursementLists" asp-action="Index"><i class="fa fa-list-ul"></i>Disbursement List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-plus"></i> <span>Incoming Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="RaisePurchaseOrder" asp-action="Index"><i class="fa fa-list-ul"></i>Create Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="PurchaseOrderRecords" asp-action="Index"><i class="fa fa-list-ul"></i>View Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="Suppliers" asp-action="Index"><i class="fa fa-list-ul"></i>View Suppliers</a>
                                </li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-times-circle"></i> <span>Stationery Discrepancies</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="IssueVoucher" asp-action="Index"><i class="fa fa-list-ul"></i>Create Adjustment Voucher</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AdjustmentRecords" asp-action="Index"><i class="fa fa-list-ul"></i>View Submitted Vouchers</a>
                                </li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-newspaper"></i> <span>Reports and Logs</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="StationeryUsage"><i class="fa fa-list-ul"></i>Stationery Usage Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="ChargeBack"><i class="fa fa-list-ul"></i>Stationery Charge Back Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="InventoryTransRecords" asp-action="Index"><i class="fa fa-list-ul"></i>Inventory Transaction Log</a>
                                </li>
                            </ul>
                        </li>
                        break;
                    case "Manager":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>

                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="OutstandingOrder" asp-action="Index"><i class="fa fa-envelope"></i> <span>View Submitted Requests</span></a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-minus"></i> <span>Outgoing Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="StationeryRetrievalList" asp-action="Index"><i class="fa fa-list-ul"></i>Stationery Retrieval List</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="DisbursementLists" asp-action="Index"><i class="fa fa-list-ul"></i>Disbursement List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-plus"></i> <span>Incoming Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="RaisePurchaseOrder" asp-action="Index"><i class="fa fa-list-ul"></i>Create Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="PurchaseOrderRecords" asp-action="Index"><i class="fa fa-list-ul"></i>View Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="Suppliers" asp-action="Index"><i class="fa fa-list-ul"></i>View Suppliers</a>
                                </li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-times-circle"></i> <span>Stationery Discrepancies</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                @*<li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AdjustmentRecord" asp-action="Index"><i class="fa fa-list-ul"></i>Approve/Reject Vouchers</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AdjustmentRecord" asp-action="Index"><i class="fa fa-list-ul"></i>View Adjustment Records</a>
                                </li>*@

                                <li>
                                    <a class="nav-link text-white-" href="/AdjustmentRecords?state=OutstandingRecords"><i class="fa fa-list-ul"></i>Approve/Reject Vouchers</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" href="/AdjustmentRecords?state=PastRecords"><i class="fa fa-list-ul"></i>View Adjustment Records</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-newspaper"></i> <span>Reports and Logs</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="StationeryUsage"><i class="fa fa-list-ul"></i>Stationery Usage Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="ChargeBack"><i class="fa fa-list-ul"></i>Stationery Charge Back Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="InventoryTransRecords" asp-action="Index"><i class="fa fa-list-ul"></i>Inventory Transaction Log</a>
                                </li>
                            </ul>
                        </li>
                        break;
                    case "Supervisor":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>

                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-minus"></i> <span>Outgoing Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="StationeryRetrievalList" asp-action="Index"><i class="fa fa-list-ul"></i>Stationery Retrieval List</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="DisbursementLists" asp-action="Index"><i class="fa fa-list-ul"></i>Disbursement List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-calendar-plus"></i> <span>Incoming Stock</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="RaisePurchaseOrder" asp-action="Index"><i class="fa fa-list-ul"></i>Create Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="PurchaseOrderRecords" asp-action="Index"><i class="fa fa-list-ul"></i>View Purchase Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="Suppliers" asp-action="Index"><i class="fa fa-list-ul"></i>View Suppliers</a>
                                </li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-times-circle"></i> <span>Stationery Discrepancies</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @*<li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AdjustmentRecord" asp-action="Index"><i class="fa fa-list-ul"></i>Approve/Reject Vouchers</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AdjustmentRecord" asp-action="Index"><i class="fa fa-list-ul"></i>View Adjustment Records</a>
                                </li>*@
                                <li>
                                    <a class="nav-link text-white-" href="/AdjustmentRecords?state=OutstandingRecords"><i class="fa fa-list-ul"></i>Approve/Reject Vouchers</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" href="/AdjustmentRecords?state=PastRecords"><i class="fa fa-list-ul"></i>View Adjustment Records</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-newspaper"></i> <span>Reports and Logs</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="StationeryUsage"><i class="fa fa-list-ul"></i>Stationery Usage Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="GenerateReports" asp-action="ChargeBack"><i class="fa fa-list-ul"></i>Stationery Charge Back Reports</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="InventoryTransRecords" asp-action="Index"><i class="fa fa-list-ul"></i>Inventory Transaction Log</a>
                                </li>
                            </ul>
                        </li>
                        break;
                    case "Rep":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="ChangeCollectionPoint" asp-action="Index"><i class="fa fa-map-marker-alt"></i> <span>Change Collection Point</span></a>

                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="CollectionPassword" asp-action="Index"><i class="fa fa-lock"></i><span>Collection Password</span></a>
                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-shopping-basket"></i> <span> &nbsp; Order Stationery</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="NewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>New Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="ViewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>View Past Orders</a>
                                </li>
                            </ul>
                        </li>

                        break;
                    case "Employee":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-shopping-basket"></i> <span>Order Stationery</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="NewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>New Order</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="ViewRequest" asp-action="Index"><i class="fa fa-list-ul"></i>View Past Orders</a>
                                </li>
                            </ul>
                        </li>

                        break;
                    case "Head":
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="Catalogues" asp-action="Index"><i class="fa fa-list-ul"></i> <span>Catalogue</span></a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fas fa-sync"></i> <span>Re-assign Staff</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AssignDeputy" asp-action="Index"><i class="fas fa-list-ul"></i> <span>Assign Deputy Head</span></a>
                                </li>
                                <li>
                                    <a class="nav-link text-white-" asp-area="" asp-controller="AssignDepartment" asp-action="Index"><i class="fas fa-list-ul"></i> <span>Assign Dept Rep</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="OutstandingOrder" asp-action="Index"><i class="fa fa-envelope"></i> <span>View Submitted Requests</span></a>
                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="DepartmentRequest" asp-action="Index"><i class="fa fa-envelope"></i> <span>View All Requests</span></a>
                        </li>
                        <li>
                            <a class="nav-link text-white-" asp-area="" asp-controller="ViewExpenditure" asp-action="Index"><i class="fa fa-dollar-sign"></i> <span>View Expenditure</span></a>
                        </li>
                        break;
                    default:
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">Register your work ID to access the sidebar</a>
                        </li>
                        break;
                }
                }
            </ul>

            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header"></section>
        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
            Main content
            -------------------------->
            @RenderBody()


        </section>



        <!-- /.content -->

    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <strong>2019 AD Team 5</strong>
        </div>

    </footer>

    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <environment include="Development">
        <!-- REQUIRED JS SCRIPTS -->
        <!-- jQuery 3 -->
        <script src="~/plugins/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/lib/bootstrap/bootstrap-multiselect.js"></script>
        <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


        <!-- ChartJS -->
        <script src="~/plugins/chart.js/Chart.js"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/js/adminlte.min.js"></script>
        <!-- Optionally, you can add Slimscroll and FastClick plugins.
        Both of these plugins are recommended to enhance the
        user experience. -->
        <!-- ajax -->
        <script src="~/assets/js/jquery.unobtrusive-ajax.min.js"></script>

        <script>
            var height = $('.content-wrapper').height();
            $('.sidebar').height(height);
        </script>



    </environment>
    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jqueryh/3.2.1/jquery.min.js"
                asp-fallback-src="~/plugins/jquery/dist/bootstrap.min.js"
                asp-fallback-test="window.jquery"
                crossorigin="anonymous"></script>

        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/plugins/bootstrap/dist/js/bootstrap.min.css"
                asp-fallback-test="window.jquery&&window.jquery.fn&&window.jquery.fn.modal"
                crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>


@*Our grateful thanks to to <a href="https://adminlte.io">Almsaeed Studio</a> for the base template!*@
