@model IEnumerable<ADTeam5.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoveringHeadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoveringHeadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionPoint.CollectionPoint1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
