@model IEnumerable<ADTeam5.ViewModels.ViewRequestDetails>

@{
    ViewData["Title"] = "Details";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<h2>Details</h2>

<p><b>Requisition Form No: @ViewData["RRID"]</b></p>
<p>Status: @ViewData["Status"]</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    <button type="button" class="editVoucherItem" style="background-color:transparent; border:transparent">
                        <i class="fa fa-edit" style="color:#66B3B3"></i>
                    </button>
                </td>
                <td>
                    <form asp-action="RequestItemDelete" asp-route-itemName="@item.itemName" asp-route-rrid = "@item.rrid" method="post" data-ajax="true" data-ajax-update="#TempVoucherDetailsList" role="form" asp-controller="ViewRequest">
                        <button style="background-color:transparent; border:transparent">
                            <i class="fa fa-trash-alt" style="color:#dc6460"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal for edit quantity-->
<div class="modal fade" id="VoucherItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Voucher Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <input type="hidden" id="VoucherItemModalID" name="voucherItemModalName" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="RowID" name="rowID" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="ItemName">Item Name</label>
                        <input type="hidden" id="ItemNameValue" name="itemName" class="form-control" value="" />
                        <input type="text" id="ItemNameDisplay" name="" class="form-control" value="" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="text" id="Quantity" name="quantity" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Remark">Remark</label>
                        <input type="text" id="Remark" name="remark" class="form-control" value="" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".editVoucherItem").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var rowID = $row.find("td.RowID").text().trim();
        var itemName = $row.find("td.ItemName").text().trim(); // Find the text
        var quantity = $row.find("td.Quantity").text().trim();
        var remark = $row.find("td.Remark").text().trim();
        var voucherItemModalID = 1;

        var $modal = $('#VoucherItemModal');
        $modal.find('#RowID').val(rowID);
        $modal.find('#ItemNameValue').val(itemName);
        $modal.find('#ItemNameDisplay').val(itemName);
        $modal.find('#Quantity').val(quantity);
        $modal.find('#Remark').val(remark);
        $modal.find('#VoucherItemModalID').val(voucherItemModalID);

        $modal.modal('show');
    });
</script>
