@model IEnumerable<ADTeam5.Models.RecordDetails>

@{
    ViewData["Title"] = "Details";
}


<h4>Details</h4>

<p>Requisition Form No: @ViewData["RRID"]</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Item Number
            </th>
            <th>
                Item Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

